In [2]:
# Importing the numpy library (for arrays operations)
# Importing the pandas library (for data analysis)
# Importing the matplotlib.pyplot interface (for MATLAB-like plots)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Dataset preparation
We start by loading the dataset (csv file) we shall work with. We use Netflix stock price from 01/03/2012 to 12/31/2021 downloaded from investing.com:<br>
https://www.investing.com/equities/netflix,-inc.-historical-data

In [10]:
# Storing the data in DataFrame "df", sorted by date in ascending order

df = pd.read_csv('NFLX Historical Data.csv')
df = df[::-1]
df.head()

              Date  Price   Open   High    Low     Vol. Change %
2517  Jan 03, 2012  10.32  10.04  10.39  10.02   29.22M    4.24%
2516  Jan 04, 2012  11.49  10.34  11.57  10.26  100.55M   11.34%
2515  Jan 05, 2012  11.33  11.35  11.69  11.04   86.61M   -1.39%
2514  Jan 06, 2012  12.33  11.30  12.47  11.24  125.66M    8.83%
2513  Jan 09, 2012  14.03  12.80  14.24  12.45  214.07M   13.79%

In [14]:
# Keeping only the "Open" values of Netflix stock, and rechaping the DataFrame into a vertical numpy array

arr = df['Open'].values
arr = arr.reshape(-1, 1)
arr.shape

(2518, 1)

We split the data into a training set stored in array "arr_train" (first 80% of the rows of "arr") and a testing set stored in array "arr_test" (last 20% of the rows of "arr").

In [5]:
arr_train = arr[:int(arr.shape[0]*0.8)]
arr_test = arr[int(arr.shape[0]*0.8):]
print(arr_train.shape)
print(arr_test.shape)

(2014, 1)
(504, 1)

# LSTM model

In [15]:
# Importing the estimator "MinMaxScaler" from the sklearn.preprocessing module
# (to scale data to a given range, typically the interval (0,1))
# See https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

# Importing the "Sequential" class from the keras.models API (to group a linear stack of layers into a model)
# See https://faroit.com/keras-docs/1.2.0/getting-started/sequential-model-guide/
# See https://keras.io/api/models/sequential/

# Importing the "load_model" function from the keras.models API (to load a model saved via model.save())
# See https://keras.io/api/models/model_saving_apis/#loadmodel-function
# See https://www.geeksforgeeks.org/save-and-load-models-in-tensorflow/

# Importing the "LSTM" class from the keras.layers API (to load the long short-term memory layer to be used)
# See https://keras.io/api/layers/recurrent_layers/lstm/
# See https://en.wikipedia.org/wiki/Long_short-term_memory

# Importing the "Dense" class from the keras.layers API (to load the regular densely-connected NN layer to be used)
# See https://keras.io/api/layers/core_layers/dense/

# Importing the "Dropout" class from the keras.layers API (to apply dropout to the input)
# See https://keras.io/api/layers/regularization_layers/dropout/

from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential, load_model
from keras.layers import LSTM, Dense, Dropout

In [7]:
scaler = MinMaxScaler()
arr_train = scaler.fit_transform(arr_train)
arr_test = scaler.fit_transform(arr_test)

In [8]:
arr_train[:5]

array([[0.00563251],
       [0.00635772],
       [0.00879928],
       [0.00867842],
       [0.01230449]])

In [9]:
arr_test[:5]

array([[0.06642321],
       [0.05707646],
       [0.09116911],
       [0.0784514 ],
       [0.10529138]])